@font-face {
    font-family: font-main;
    src: url('./fonts/font.otf');
}

*{
    margin:0;
    padding:0;
    font-family: font-main;
    color: white;
    /*border: 1px solid red;*/
}

body{
    overflow: auto;
    overflow-x: hidden;
    width: 360px;
    height: 100%;
}

#content-div{
    width: 100%;
    min-height: 100vh;
    border-radius: 10px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.8);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.translucent{
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

header{
    height: 56px;
    overflow: hidden;
}

#message-main{
    height: 50vh;
}

#thread_pic{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    margin: 4px;
    display:inline-block;
}

#sender_info{
    display:inline-block;
    vertical-align: top;
    height: 56px;
}

#thread_name{
    text-align: left;
    font-size: 14pt;
    padding-top: 28px;
    line-height: 0px;
    font-weight: normal;
    word-wrap: break-word;
    height: calc(28px + 14pt);
    overflow: hidden;
}

#sender_name{
    text-align: left;
    font-size: 10pt;
    opacity: 0.5;
    vertical-align: center;
    line-height: 32px;
    font-weight: normal;
}

#close_button{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(100% - 24px);
    top: 0px;
    border-radius: 0px 0px 0px 10px;
    border: none;
    background-color: rgb(20, 20,20, 0.02);
    background-image: url('../img/ico_close.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;
}

#close_button:hover{
    background-color: rgb(20, 20, 20, 0.1);
    opacity: 1.0;
}

#reply_button{
    width: 32px;
    height: 32px;
    float:right;

    border: none;
    border-radius: 1000px;
    background-color: #2196F3;
    background-image: url('../img/ico_edit.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    transition: box-shadow 200ms ease-out;
}

#reply_button:hover{
    box-shadow: 0px 4px 5px #000000;
}

#messages_container{
    width: 100%;
    overflow: hidden;
}

.message-container{
    display:block;
}

.user-message-container{
    display: block;
    width: calc(100% - 8px);
    margin: 4px;
}

.user-message-body{
    display: block;
    text-align: right;
    word-wrap: break-word;
}

.sender-image{
    display: block;
}

.timestamp{
    display: block;
    text-align: left;
    color: #CCC;
    margin-left: 4px;
}

.userTimestamp{
    text-align: right;
    color: #CCC;
    margin-right: 4px;
    width: 100%;
}

.message-body{
    display: block;
    width: 80%;
    text-align: left;
    padding-left: 20px;
}

#reply-div{
    height: 24px;
    margin-top: 8px;
}

#reply_message{
    display: inline-block;
    width: calc(100% - 48px);
    margin: 1px;
    border-radius: 4px;
    border-width: 1px;
    background: transparent;
    resize: none;
    overflow: auto;
    font-size: 12pt;
    line-height: 16px;
    padding: 0px 4px;
    clear: both;
}

#reply_send{
    width: 24px;
    height: 24px;
    float: right;

    padding: 0px;
    margin: 6px;

    vertical-align: bottom;

    border: none;
    border-radius: 1000px;
    background-color: #2196F3;
    background-image: url('../img/ico_done.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.unsent{
    color: rgba(255, 255, 255, 0.5);
}

.sendError{
    color: rgba(255, 0, 0, 0.8);
}

.clear-br{
    clear:both;
}