@font-face {
    font-family: font-main;
    src: url('./fonts/font.otf');
}

*{
    margin:0;
    padding:0;
    font-family: font-main;
    /*background: rgba(0,255,0,0.1);*/
}

body{
    height: 100%;
    width: 100%;
    overflow:hidden;
}

#content-div{
    height: 100%;
}

#header-div{
    width: 100%;
    height: auto;
}

/*
#header-div img{
    min-width: 13.3vh;
    min-height: 13.3vh;
    width: 26.7vw;
    height: 26.7vw;
    border-radius: 100%;
    float: left;
    margin: 2px;
}

#header-div h1{
    display:block;
    position: relative;
    left: 12px;
    width: calc(100% - 96px);
    margin: 2px;
}

#header-div h2{
    display:block;
    position: relative;
    left: 12px;
    width: calc(100% - 96px);
    margin: 2px;
}*/

#tab-button-div{
    display: block;
    height: 32px;
    background: whitesmoke;
    box-shadow: 0px 1px 10px lightgrey;
}

#selected-tab-indicator{
    display:block;
    position:absolute;
    top:32px;
    left:calc(15% - 10px);
    width:0;
    height:0;
    border-color: rgb(206,215,230) transparent transparent transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 10px;
    transition: 250ms ease-out;
    background: transparent;
}

#tab-button-div button{
    float: left;
    min-width: 64px;
    width: 30%;
    max-width: 128px;
    height: 32px;
    font-size: 14pt;
    margin: 0;
    overflow: hidden;
    color: rgb(59,89,152);
    border: none;
    outline: none;
    background: transparent;
}

.selected-button{
    background: rgb(206,215,230) !important;
}

#tab-button-div button:hover{
    background: rgb(206,215,230);
    border: none;
}

#tab-content-div{
    width: 100%;
    height: calc(100vh - 32px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab-content{
    width: 100%;
}

.list-item-icon-image{
    min-width: 8.88vh;
    width: 17.7vw;
    min-height: 8.88vh;
    height: 17.7vw;

    float: left;

    border-radius: 100%;
}

.messages-list-item{
    display: block;
    min-height: 8.88vh;
    height: 17.7vw;
    border-top: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 150ms;
}

.messages-list-item:hover{
    background: rgba(59,89,152, 0.2);
}

.messages-list-item-text{
    margin-left: 8px;
    float: left;
    width: fit-content;
    max-width: 70%;
    height: 100%;
}

.messages-list-item-text h2{
    font-weight: normal;
}

.messages-list-item-text h2{
    margin-top: 5%;
    overflow: hidden;
    white-space: nowrap;
    height: 50%;
}

.messages-list-item-text p{
    overflow: hidden;
    font-size: 12pt;
    height: 50%;
    white-space: nowrap;
    line-height: 10pt;
}

.messages-list-item-control img{
    width: 24px;
    height: 24px;
}

.messages-list-item-control button{
    border: none;
    background: none;
    transition: 250ms;
}

.messages-list-item-control button:hover{
    zoom: 115%;
}

.messages-list-item-control{
    float: right;
}